*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-light-hsl: 200, 100%, 91%;
    --primary-hsl: 200, 100%, 50%;
    --primary-dark-hsl: 200, 100%, 6%
}

body {
    background: url(background-image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 450px;
    height: 450px;
    background: hsl(var(--primary-dark-hsl),.7);
    border-radius:40px;
}

.header {
    color:  #fff;
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
}

.input-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 15px;
}

.section{
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

label {
    color: #fff;
    font-size: 18px;
}

input {
    width: 400px;
    padding: 10px 10px;
    font-size: 18px;
    background: hsl(var(--primary-light-hsl),.7);
    border: none;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

input[type="submit"] {
    color: #fff;
    background: hsl(var(--primary-hsl),.4);
    width: 400px;
    padding: 15px 0px;
    border: 1px solid lightblue;
    cursor: pointer;
}